<nav role="navigation">
    <div class="burger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div id="menu">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Project" asp-action="Index">Projects</a></li>
            <li><a href="#">Skills (W.I.P)</a></li>
            <li><a href="#">About me</a></li>
        </ul>
    </div>
</nav>