@model MyPersonelWebsite.Models.Contakt.SendViewModel
@{
    ViewData["Title"] = "Contact";
}
<h2 class="center-block text-center">Contackt me</h2>

<form asp-controller="Home" asp-action="SendContact" method="post">
    <div class="form-group col-5">
        <label>Email</label>
        <input asp-for="input.Email" class="form-control" />
    </div>
    <div class="form-group col-5">
        <label>Content</label>
        <textarea asp-for="input.Content" class="form-control" maxlength="10000" style="height: 10em"></textarea>
    </div>
    <button class="btn btn-default center-block">Send</button>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}
