@{
    ViewData["Title"] = "Home Page";
    ViewData["Menu"] = "Home";
    ViewData["Back"] = "/images/Static/IMG_4869.jpg";
    ViewData["Nav-white"] = true;
}

<div class="Headline d-flex center-v center-h">
    <h1 class="text-white">
        Mads Bruun Jensen
    </h1>
    <p class="text-white">A Programmer</p>
</div>
