@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<button class="btn btn-success float-right mb-2" data-toggle="modal" data-target="#CreateTagModal">Create Tag</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Project Count</th>
            <th class="text-right mr-2">Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
